In [1]:
import numpy as np
import pandas as pd

np.set_printoptions(precision=6, suppress=True)
PREVIOUS_MAX_ROWS = pd.options.display.max_rows # 원래 60이 기본.
pd.set_option("max_rows", 20)

보스턴 데이터는 보스턴 시의 506개 구역에 대한 통계 자료를 담고 있다. 먼저 보스턴 데이터를 불러온다.

In [2]:
from sklearn.datasets import load_boston
X = load_boston()

X의 자료형을 확인하면 다음과 같다

In [3]:
type(X)

sklearn.utils.Bunch

## 문제1 (5점)

Bunch 자료형을 dict() 자료형의 차이점은 무엇인가?

Bunch 자료형은 사이킷런에 내장되어있는 자료형으로서 파이썬의 기본 자료형인 딕셔너리와 거의 비슷하게 사용된다.

차이점이 있다면 딕셔너리에서는 value값을 dic['key_name']으로 구해야 했다면,

Bunch 자료형은 bunch['key_name']과 bunch.key_name으로 구할 수 있습니다.

X에 사용된 키(key)는 다음과 같다.

In [4]:
X.keys()

dict_keys(['data', 'target', 'feature_names', 'DESCR', 'filename'])

data 키의 값은 다음과 같다.

In [5]:
X.data

array([[  0.00632,  18.     ,   2.31   , ...,  15.3    , 396.9    ,
          4.98   ],
       [  0.02731,   0.     ,   7.07   , ...,  17.8    , 396.9    ,
          9.14   ],
       [  0.02729,   0.     ,   7.07   , ...,  17.8    , 392.83   ,
          4.03   ],
       ...,
       [  0.06076,   0.     ,  11.93   , ...,  21.     , 396.9    ,
          5.64   ],
       [  0.10959,   0.     ,  11.93   , ...,  21.     , 393.45   ,
          6.48   ],
       [  0.04741,   0.     ,  11.93   , ...,  21.     , 396.9    ,
          7.88   ]])

X.data는 미국 보스턴 시의 구역별 통계자료를 갖고 있으며, (506, 13) 모양의 2차원 Array이다. 각각의 열(column)은 아래 특성을 가리킨다.

|특성|의미|
|--------|---|
|CRIM|구열별 1인당 범죄율|
|ZN|25,000 평방 피트 이상의 거주 구역 비율|
|INDUS|구역별 비 소매 사업 에이커(ACRE) 비율|
|CHAS|Charles River 더미 변수(구역이 강 경계에 닿으면1, 아니면 0|
|NOX|산화 질소 농도(1000만분 율)|
|RM|주택 당 평균 방 수|
|AGE|소유주가 살고 있는 1940년 이전에 지어진 건물 비율|
|DIS|보스턴 고용 센터 다섯 곳 까지으 ㅣ가중 거리|
|RAD|방사형 고속도로 접근성 지수|
|TAX|1만달러당 전체 가지 재산 세율|
|PTRATIO|구역별 학생-교사 비율|
|B|1000(Bk - 0.63)^2(BK 구역별 흑인 비율)|
|LSTAT|구역별 낮은 지위 인구 비율|

## 문제2(5점)

아래 코드가 의미하는 바를 설명하라.

In [6]:
X.data.shape

(506, 13)

답) X의 data의 크기를 의미한다.

(506, 13)이므로 506개의 행과 13개의 열을 가지고 있다

이제 X.data를 boston 변수에 할당한다

In [7]:
boston = X.data

열(column)별 이름, 즉 특성별이름을 지정함녀서 판다스의 데이터프레임으로 형변환한다.

특성별 이름은 X의 feature_names 속성에 저장되어 있다.

In [8]:
X.feature_names

array(['CRIM', 'ZN', 'INDUS', 'CHAS', 'NOX', 'RM', 'AGE', 'DIS', 'RAD',
       'TAX', 'PTRATIO', 'B', 'LSTAT'], dtype='<U7')

In [9]:
boston = pd.DataFrame(X.data, columns=X.feature_names)
boston

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33
...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.06263,0.0,11.93,0.0,0.573,6.593,69.1,2.4786,1.0,273.0,21.0,391.99,9.67
502,0.04527,0.0,11.93,0.0,0.573,6.120,76.7,2.2875,1.0,273.0,21.0,396.90,9.08
503,0.06076,0.0,11.93,0.0,0.573,6.976,91.0,2.1675,1.0,273.0,21.0,396.90,5.64
504,0.10959,0.0,11.93,0.0,0.573,6.794,89.3,2.3889,1.0,273.0,21.0,393.45,6.48
505,0.04741,0.0,11.93,0.0,0.573,6.030,80.8,2.5050,1.0,273.0,21.0,396.90,7.88

원래 결측치가 없지만 아래처럼 고의로 5개의 결측치를 입력한다. 대상은 주택당 평균 방수 특성(RM)의 100번에서 104번행이다.

In [10]:
boston['RM'][100:105] = np.nan

## 문제3(10점)
보스턴 전체 데이터셋에서 수치상으로 5개의 값만 결측치임을 표여주는 표현식을 작성하라.

In [11]:
# pass와 None을 각각 적절한 코드와 표현식으로 대체하라.

#pass
nan = boston.isnull().sum().sum()

#assert None ==5
assert nan == 5

## 문제4(5점)

결측치가 들어있는 행으로만 이루어진 데이터프레임을 가리키는 boston_with_nan을 정의하라.

In [12]:
# pass와 None을 각각 적절한 코드와 표현식으로 대체하라.

# pass
na_list = []
for i in boston.columns :
    if boston[i].isnull().any() :
        na_list.append(i)

na_df_list = []
for i in na_list :
    na_df_list.append(boston[boston[i].isnull()])
    
boston_with_nan = pd.DataFrame(na_df_list[0])
#boston_with_nan = None

assert boston_with_nan.shape == (5,13)

## 문제5(5점)
결측치가 들어있는 행을 제외한 데이터프레임을 가지키는 boston_without_nan을 정의하라.

In [13]:
# pass와 None을 각각 적절한 코드와 표현식으로 대체하라.

#pass

boston_without_nan = boston.dropna()
# boston_without_nan = None

assert boston_without_nan.shape == (501, 13)

## 문제6(5점)
boston_with_nan이 가리키는 데이터프레임에 사용된 결측치(NaN)을 모두 해당 특성의 평균값(mean)으로 대체하라. 즉, NaN이 실제로 대체되어야 한다.(경고가 발생하더라도 무시한다.)

In [14]:
# boston_with_nan 데이터프레임에 포함된 모든 결측치를 평균값으로 대체해야함
# pass를 적절한 코드로 대체할 것

# pass
for i in na_list :
    boston[i].fillna(boston[i].mean(), inplace=True)

# boston_with_nan 데이터프레임에 결측치가 없음을 입증해야 함.
# None 을 적절한 표현식으로 대체할 것.

na_num = boston.isnull().sum().sum()

assert na_num == False

## 문제7(10점)
AGE 특성의 값들에서 소수점 이하를 버리고 남은 정수값(int)만 이용하는 AGE_Year 특성을 추가하라. 즉, 소수점 이하를 버리고 정수형(int)으로 형변환된 값을 이용해야 한다.

In [15]:
# pass와 None을 각각 적절한 코드와 표현식으로 대체하라.

# pass
boston.AGE.astype(int)

# AGE_Year 특성 추가하기

# boston['AGE_Year'] = None
boston['AGE_Year'] = boston.AGE.astype(int)

In [16]:
boston

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,AGE_Year
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98,65
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14,78
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03,61
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94,45
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33,54
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.06263,0.0,11.93,0.0,0.573,6.593,69.1,2.4786,1.0,273.0,21.0,391.99,9.67,69
502,0.04527,0.0,11.93,0.0,0.573,6.120,76.7,2.2875,1.0,273.0,21.0,396.90,9.08,76
503,0.06076,0.0,11.93,0.0,0.573,6.976,91.0,2.1675,1.0,273.0,21.0,396.90,5.64,91
504,0.10959,0.0,11.93,0.0,0.573,6.794,89.3,2.3889,1.0,273.0,21.0,393.45,6.48,89
505,0.04741,0.0,11.93,0.0,0.573,6.030,80.8,2.5050,1.0,273.0,21.0,396.90,7.88,80

## 문제8(5점)
AGE 특성을 삭제하라.

In [17]:
# pass와 None을 각각 적절한 코드와 표현식으로 대체하라.

# pass
boston.drop('AGE', axis=1, inplace=True)

assert('AGE' in boston.columns) == False

In [18]:
boston

,CRIM,ZN,INDUS,CHAS,NOX,RM,DIS,RAD,TAX,PTRATIO,B,LSTAT,AGE_Year
0,0.00632,18.0,2.31,0.0,0.538,6.575,4.0900,1.0,296.0,15.3,396.90,4.98,65
1,0.02731,0.0,7.07,0.0,0.469,6.421,4.9671,2.0,242.0,17.8,396.90,9.14,78
2,0.02729,0.0,7.07,0.0,0.469,7.185,4.9671,2.0,242.0,17.8,392.83,4.03,61
3,0.03237,0.0,2.18,0.0,0.458,6.998,6.0622,3.0,222.0,18.7,394.63,2.94,45
4,0.06905,0.0,2.18,0.0,0.458,7.147,6.0622,3.0,222.0,18.7,396.90,5.33,54
...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.06263,0.0,11.93,0.0,0.573,6.593,2.4786,1.0,273.0,21.0,391.99,9.67,69
502,0.04527,0.0,11.93,0.0,0.573,6.120,2.2875,1.0,273.0,21.0,396.90,9.08,76
503,0.06076,0.0,11.93,0.0,0.573,6.976,2.1675,1.0,273.0,21.0,396.90,5.64,91
504,0.10959,0.0,11.93,0.0,0.573,6.794,2.3889,1.0,273.0,21.0,393.45,6.48,89
505,0.04741,0.0,11.93,0.0,0.573,6.030,2.5050,1.0,273.0,21.0,396.90,7.88,80